html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#EU {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white;
}

#EU svg {
  width: 100%;
  height: 100%;
  display: block;
}

path {
  stroke: black; /* Контурът */
  stroke-width: 0.4;
  transition: 0.3s;
  position: relative; /* За да може да се добавят псевдоелементи */
}

/* При hover променяме цвета на държавата */
path:hover {
  fill: crimson;
  cursor: pointer;
}

/* България - показваме флаг при hover */
#BG {
  stroke: black; /* Контурът на България */
  stroke-width: 0.4;
  position: relative; /* Нужно е за псевдоелемента */
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("bgFlag.png");
  mask-image: url("bgFlag.png");
}

/* Когато мишката е върху България, ще добавим флага */
#BG:hover {
  fill: black;
}

#flag-tooltip {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  z-index: 1000;
  pointer-events: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#flag-tooltip img {
  width: 60px;
  height: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
